*pyc
python/biosaxs/credentials.properties
credentials.properties
*target*
# *.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#credentials for webservices
java/ispyb-WSclient-call/src/main/java/webservice/UtilsDoNotCommit.java
java/ispyb-batch-client/src/main/java/ispyb/client/webservice/UtilsDoNotCommit.java
